<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reddit.js</title>

  {{!-- Bootstrap CSS --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  {{!-- Custom CSS --}}
  <link rel="stylesheet" href="/css/style.css">
  {{!-- Bootstrap JS --}}
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  {{!-- jQuery JS --}}
  <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  {{!-- Custom JS --}}
  <script defer src="/js/vote.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Reddit.js</a>
      {{#if currentUser}}
        <a href="/posts/new" class="nav-link me-auto">New Post</a>
      {{/if}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto text-primary">
          {{#if currentUser}}
            <a href="/logout" class="nav-link">Logout</a>
          {{else}}
            <a href="/sign-up" class="nav-link">Sign Up</a>
            <a href="/login" class="nav-link">Login</a>
          {{/if}}
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    {{{body}}}
  </div>
</body>

</html>