<div class="row">
  <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <form action="/login" method="POST">
    <legend>Login</legend>
      <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="auth-username" placeholder="username">
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="auth-password" placeholder="password">
      </div>
      <div class='text-end'>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>