<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <form action="/posts/new" method="POST">
      <legend>New Post</legend>
      <div class="mb-3">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="Title">
      </div>
      <div class="mb-3">
        <label for="post-url">Url</label>
        <input type="url" name="url" class="form-control" id="post-url" placeholder="https://www.google.com">
      </div>
      <div class="mb-3">
        <label for="post-summary">Summary</label>
        <textarea name="summary" class="form-control" id="post-summary" placeholder="Summary"></textarea>
      </div>
      <div class='text-end'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
    </form>
  </div>
</div>