<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <form action="/sign-up" method="POST">
    <legend>Sign Up</legend>
      <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="auth-username" placeholder="username">
      </div>
      <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="auth-password" placeholder="password">
      </div>
      <div class='text-end'>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>